.todoList{
    list-style-type: none;
}

    .todo-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 4px auto;
        color: #fff;
        background: #008b8b;
        padding: 16px;
        width: 90%;
      }